---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  
  <ContactUs
    id="form"
    title="Connect with us!"
    subtitle="The best way to connect with Bitcoiners in the DMV is to come to an event or meetup and say hi! If you'd like to get in touch with us over email, please use the form below and a community member will get back to you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    description="Scroll down to the bottom for links to connect with us on Nostr & X."
  />
  
  <!-- Privacy message with link -->
  <section class="px-4 pb-6 mx-auto max-w-6xl text-center">
    <p class="text-muted">
      We value your privacy and so should you! Click here for some 
      <a href="https://awesome-privacy.xyz/communication/mail-forwarding" 
         target="_blank" 
         rel="noopener noreferrer" 
         class="text-blue-600 hover:text-blue-800">
        awesome privacy tips.
      </a>
    </p>
  </section>

</Layout>
