---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { communityReasons } from '~/data/reasons';
import { faqs } from '~/data/faqs';

const metadata = {
  title: 'Bitcoin District',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/hero-flag.png', alt: 'Bitcoin District Hero' }}
  >
    <Fragment slot="title">
      This is <span class="text-accent dark:text-white"> Bitcoin District</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Bitcoin District</span> is a network of Bitcoiners living and working in the DC, Maryland & Virginia (DMV) area seeking to network, socialize & collaborate with other Bitcoiners.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="We are Bitcoin only:" description="Not crypto. Not blockchain. Not altcoins. Just Bitcoin." />

  <!-- Features Widget *************** -->

  <Features2
    title="Be part of a growing community"
    subtitle="Just a few good reasons to get involved with Bitcoin District"
    columns={3}
    items={communityReasons}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Get answers to common questions about Bitcoin District, our community, and how you can get involved."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={faqs.map(faq => ({ title: faq.question, description: faq.answer }))}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Meetup Size', amount: '590+' },
      { title: '5-Star Reviews', amount: '165' },
      { title: 'Total Bitcoin', amount: '21M' },
      { title: 'Sats/Bitcoin', amount: '100M' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Subscribe',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:mail-opened',
      },
      {
        variant: 'secondary',
        text: 'News',
        href: 'https://news.bitcoindistrict.org',
        target: '_blank',
        icon: 'tabler:news',
      },
    ]}
  >
    <Fragment slot="title">
      Stay in the Loop
    </Fragment>

    <Fragment slot="subtitle">
      Subscribe to our newsletter to see what's happening in the District.
    </Fragment>
  </CallToAction>
</Layout>
