---
import NewsletterSubscribe from '~/components/widgets/NewsletterSubscribe.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import HeroLayout from '~/layouts/HeroLayout.astro';
import { testimonials } from '~/data/testimonials';
import { HERO_IMAGES } from '~/utils/hero';

const metadata = {
  title: 'Join Us',
};
---

<HeroLayout
  metadata={metadata}
  hero={{
    image: HERO_IMAGES.default,
    alt: 'Bitcoin District',
    title: 'Join the Bitcoin District Community',
    subtitle:
      "We're a group of people living & working in the DMV who are passionate about Bitcoin and freedom technology. We're here to help you learn, grow, and connect with others in the community.",
  }}
>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Totally Real Testimonials from the Community"
    subtitle="(Don't trust us. Verify by coming to a meetup to see for yourself!)"
    testimonials={testimonials}
  />

  <!-- Newsletter Subscribe Widget *** -->

  <section class="bg-gray-50 dark:bg-gray-900 py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <NewsletterSubscribe
        title="Subscribe to our newsletter"
        subtitle="We'll send you weekly updates about upcoming events, news, and other community announcements about Bitcoin in the District."
        showName={true}
        label="Bitcoin District - Join Page"
      />
    </div>
  </section>
</HeroLayout>
